<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- namespace 는 결국 dao 를 찾아가는 루트를 정해주는 역할과 이 BoardDaoMapper.xml을 찾아올 수 있도록 이름을 지칭해준다. -->
<mapper namespace="com.ktdsuniversity.edu.spring_homework2.bbs.dao.PlanBoardDao">
<insert id="insertNewTodo" parameterType="com.ktdsuniversity.edu.spring_homework2.bbs.vo.WritePlanBoardVO">
INSERT INTO PLANBOARD
 ( ID,
   SUBJECT,
   DEADLINE,
   ISDONE)
 VALUES
 ( SEQ_PLANBOARD_PK.NEXTVAL,
  #{subject},
  TO_DATE(#{deadLine},'YYYYMMDD'),
  0)
</insert>
<update id="updateIsDone" parameterType="_int">
UPDATE PLANBOARD
   SET ISDONE = 1
 WHERE ID = #{_parameter}
</update>
<delete id="deleteTodo" parameterType="_int">
 DELETE FROM PLANBOARD
  WHERE ID = #{_parameter}
</delete>
<select id="selectAllPlanBoard" resultType="com.ktdsuniversity.edu.spring_homework2.bbs.vo.PlanBoardVO">
SELECT ID 
	 , SUBJECT 
	 , DEADLINE 
	 , ISDONE 
  FROM PLANBOARD
</select>
</mapper>